[Unit]
Description=Puxa o log do Drive a cada 15 minutos

[Timer]
OnBootSec=3min
OnUnitActiveSec=15min
Persistent=true

[Install]
WantedBy=timers.target
